_site
.DS_Store
.jekyll-cache

# Blockchain registry
blockchain-registry/**/.env
blockchain-registry/**/.env.*
blockchain-registry/**/node_modules/
blockchain-registry/**/package-lock.json
blockchain-registry/**/function.zip
blockchain-registry/**/deployment.json
blockchain-registry/**/.aws-sam/
