version: '3.8'

services:
  jekyll:
    build:
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      - .:/srv/jekyll
      - bundle_cache:/usr/local/bundle
    ports:
      - "4000:4000"
      - "35729:35729"
    environment:
      - JEKYLL_ENV=development

volumes:
  bundle_cache:
