<section class="container content-section text-center">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h2>Yale Creek Ranch</h2>
      <p>
        <i>724 Yale Creek Rd. Jacksonville, OR  97530</i>
        <br>
        <br>
        This beautiful property in the Applegate Valley is 30 minutes from Jacksonville and 40 minutes from Ashland or Medford.
        <br>
        Check out their website: <a href="https://www.yalecreekranch.com/">yalecreekranch.com</a>
      </p>
    </div>
  </div>
  <br>
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h3>
        Airports
        <br>
      </h3>
      <p>
        <b>Rogue Valley International Medford Airport</b> is 45 minutes away and near many hotels
        <br>
        <b>Eugene Airport</b> is 3 hours away
        <br>
        <b>Sacramento International Airport</b> is 5 hours away
      </p>
    </div>
  </div>
</section>



