<section class="container content-section text-center">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h2>Camping</h2>
      <p>
        <br>
        On-site camping is free. You’ll be in a beautiful meadow under walnut and apple trees with access to restrooms and showers. If it's your style, we highly recommend camping to get the most out of the incredible venue!
        <br>
      </p>
    </div>
  </div>
  <br>
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h3>
        Hotels
        <br>
      </h3>
      <p>
        If you’d rather stay in a hotel, we recommend booking early - the holiday weekend will be busy in Southern Oregon. There are many options in Jacksonville, Medford, and Ashland. 
	<b>We have some discounted rooms reserved already at Wine Country Inn Jacksonville; contact us if you'd like one of those.</b>
	Here are a few other options:
        <br>
        <a href="https://magnoliahotelor.com/">Magnolia Hotel</a> | 
        <a href="http://www.touvellehouse.com/">TouVelle House Hotel</a> | 
        <a href="http://www.rogueregency.com/">Rogue Regency Inn</a> | 
        <a href="https://www.choicehotels.com/oregon/medford/comfort-inn-hotels/or052">Confort Inn Medford</a> | 
        <a href="https://www.wyndhamhotels.com/ramada/medford-oregon/ramada-medford-airport-north/overview">Ramada Medford Airport</a> | 
        <a href="https://www.columbiahotelashland.com/">The Columbia Hotel</a>
        <br>
      </p>
    </div>
  </div>
  <br>
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h2>Airbnb / Short-Term Rentals</h2>
      <p>
        <br>
        There are many short-term rental options in the area.
        <br>
      </p>
    </div>
  </div>
</section>

