<!-- Intro Header -->
<header class="intro">
    <div class="intro-body" style="vertical-align: bottom;">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-10" style="text-shadow: 6px 6px 16px black;">
                    <h1 class="brand-heading">Phaedrus & Kyle's</h1>
                    <h1 class="brand-heading">Wedding Festival</h1>
                    <p class="intro-text">
                        May 24th &amp; 25th, 2025
                        <br>
                        Jacksonville, Oregon
                      <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>

{% for story in site.stories %}
    {% if story.image %}
        {% capture style %}
            {% if story.image_position %} background-position: {{ story.image_position }};{% endif %}
            background-image: url({{ story.image }})
        {% endcapture %}

        <section class="billboard"
                 style="{{ style }}"
        ></section>
    {% endif %}

<section id="ourstory" class="container content-section text-center">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            {{ story.content | markdownify }}
        </div>
    </div>
</section>
{% endfor %}
